:root{
    --pri:#000000;
    --sec:#865DFF;
    --tri1:#dc75fb;
    --tri2:#fcaffb;
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: var(--pri);
}

#main{
    height: 100%;
    width: 100%;
}
h1{
    color: var(--sec);
    font-size: 5rem;
}
h2{
    color: var(--tri1);
    font-size: 2rem;
}
p{
    color: var(--tri2);
    font-size: 4rem;
}