:root{
    --pri:#000000;
    --sec:#865DFF;
    --tri1:#dc75fb;
    --tri2:#fcaffb;
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: var(--pri);
}

#main{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 0 24px;
    z-index: 10;
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
}
.logo{
    height: 40px;
    width: auto;
    margin-right: 12px;
    cursor: pointer;
}

h1{
    color: #fff;
    font-family: normal, sans-serif;
    font-size: 16px;
    margin: 0 8px;
    cursor: pointer;
}