:root{
    --pri:#000000;
    --sec:#52057B;
    --tri1:#892CDC;
    --tri2:#BC6FF1;
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
}