:root{
    --pri:#000000;
    --sec:#865DFF;
    --tri1:#dc75fb;
    --tri2:#fcaffb;
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: var(--pri);
}

#main{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
}